// Colors
$bg-color: #f9f9f9;
$green: #71A894;
$light-gold: #F3F0EA;
$yellow: #F5C64F;
$black: #303031;
$gray: #66645E;
$white: #fff;
$brand-color: $green;


// Breakpoints
$small-breakpoint: 480px; // or 576px
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$extra-large-breakpoint: 1200px;