@use '../utilities/variables';
@use '../utilities/mixins';

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4em;

    .footer-company {
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0;
    }

    .footer-nav {
        @include mixins.vertical-nav;
    }
}

@media (min-width: variables.$large-breakpoint) {
    footer {
        flex-direction: row;
        align-items: center;

        .footer-nav {
            @include mixins.desktop-nav;
        }
    }
    
}